
.dropdownMenu ul{
    /*
    display:flex;
    OR
    */
    display: flex;
    
}
ul li{
    margin: 10px;
    list-style: none;
}

.dropdownItems > ul{
    display: none;
}


.dropdownMenu ul li:hover .dropdownItems > ul{
    display: flex;
    position: absolute;

    background-color: aquamarine;
}
