/*element selector*/
p{
    color: red;
}
h3{
    color: blueviolet;
}
p.intro {
    background-color: yellow;
  }
p#intro{
    background-color: rgb(229, 130, 130);
}
/*class selector*/

.myclass{
    color: aquamarine;
}

/*id selector*/

#myid{
    color: gray;
}


/*
universal or star selector
its working with all the html as linked with this css file
if you see the example look into the universal.html's body(inlineCss)
*/


/*Attribute selector*/
/*But why .. i don't know*/
img[alt]{
    border: 2px solid rgb(255, 0, 0);
    background-color: blue;
}

/*child selector*/

div > div > p{
    font-size: 50px;
    color: green;
}
div > div > h3{
    color: green;
}

/*Descendant selector*/

div ul li p{
    color: red;
}
li a{color:blue;}
li a p{
    font-size: 50px;
}

/*Addjunction shiblling selector*/

.container p + p + p + p{ /*[Terget is last P tag]*/
    font-size: 30px;
}

.container h2 ~ h2{
    color: blue;
}