

/* parent */
body>div {
    background-color: cornflowerblue;
    font-size: 30px;
    margin: 50px;
}
/* child */
body > div > div{
    background-color: coral;
}


h1,h2{text-align: center;}


/* GRID Container */


#--grid-templete{
    display: grid;

    grid-gap: 10px;

    grid-template:none;
}